doctype html
html
    head
        title= "La web de Jose Vicente"
    body
        header
            h1= "Jose Vicente Carratala"
            h2= "Desarrrollador y formador"
            nav
                ul
                    li= "Inicio"
                    li= "Sobre mi"
                    li= "Contacto"
    main
        p= "Esto es el contenido de la web"
    footer= "Pie de pagina"
                
    
